<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
   

  <div class="container">

      <div class="row mt-5">
          <div class="col-lg-12 mb-2 col-md-10 col-sm-12 mt-5 ">
             <p class="font-weight-bold blue-text text-center text-uppercase" style="font-size: 24px;">OTHER MOST RATED BOOKS</p>
           </div>

           <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase text-center h2 ">5 LEVEL OF LEADERSHIP</h6>
                         <h6 class="text-uppercase text-center h4">By JOHN MAXWELL</h6><br>
                                     <hr class="hr-light">

                                     <table class="table">
                                       <tbody>
                                         <tr>
                                           <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                           <td><h3 class="red-text">Old prize</h3></td>
                                          
                                         </tr>

                                         <tr>
                                            <td><h1 class="text-center">#2,599.99</h1></td>
                                           <td><h3 class="red-text">New prize</h3></td>
                                         </tr>
                                       </tbody>
                                     </table>
                          

                         <div class="m-3">
                           <a href="#">
                             <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
                           </a>
                         </div>

                       </div>
                     </div>
             </div>
       
             <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
               <div class="card">
                 <div class="view overlay">
                   <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                   <a>
                     <div class="mask rgba-white-strong"></div>
                   </a>
                 </div>
                 <div class="card-body white black-text rounded-bottom">
                   <h6 class="card-title text-uppercase text-center h2 ">THE POWER OF MEN</h6>
                   <h6 class="text-uppercase text-center h4">By Olabayo Segun</h6><br>
                               <hr class="hr-light">
                               <table class="table">
                                  <tbody>
                                    <tr>
                                      <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                      <td><h3 class="red-text">Old prize</h3></td>
                                     
                                    </tr>

                                    <tr>
                                       <td><h1 class="text-center">#2,599.99</h1></td>
                                      <td><h3 class="red-text">New prize</h3></td>
                                    </tr>
                                  </tbody>
                                </table>

                   <div class="m-3">
                     <a href="#">
                       <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
                     </a>
                   </div>

                 </div>
               </div>
       </div>
       
       <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
         <div class="card">
           <div class="view overlay">
             <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
             <a>
               <div class="mask rgba-white-strong"></div>
             </a>
           </div>
           <div class="card-body white black-text rounded-bottom">
             <h6 class="card-title text-uppercase text-center h2 ">PURPOSE DRIVEN LIFE</h6>
             <h6 class="text-uppercase text-center h4">RICK WARREN</h6><br>
                         <hr class="hr-light">
                         <table class="table">
                            <tbody>
                              <tr>
                                <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                <td><h3 class="red-text">Old prize</h3></td>
                               
                              </tr>

                              <tr>
                                 <td><h1 class="text-center">#2,599.99</h1></td>
                                <td><h3 class="red-text">New prize</h3></td>
                              </tr>
                            </tbody>
                          </table>

             <div class="m-3">
               <a href="#">
                 <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
               </a>
             </div>

           </div>
         </div>
 </div>
               
       
 <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
   <div class="card">
     <div class="view overlay">
       <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
       <a>
         <div class="mask rgba-white-strong"></div>
       </a>
     </div>
     <div class="card-body white black-text rounded-bottom">
       <h6 class="card-title text-uppercase text-center h2 ">DOMINION THROUGH EXCELLENCE</h6>
       <h6 class="text-uppercase text-center h4">By APT JOSHUA SELMAN</h6>
                   <hr class="hr-light">
        <table class="table">
                                       <tbody>
                                         <tr>
                                           <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                           <td><h3 class="red-text">Old prize</h3></td>
                                          
                                         </tr>

                                         <tr>
                                            <td><h1 class="text-center">#2,599.99</h1></td>
                                           <td><h3 class="red-text">New prize</h3></td>
                                         </tr>
                                       </tbody>
                                     </table>

       <div class="m-3">
         <a href="#">
           <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
         </a>
       </div>

     </div>
   </div>
</div>


 </div>

    <div class="row">

                <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                          <div class="card">
                            <div class="view overlay">
                              <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-strong"></div>
                              </a>
                            </div>
                            <div class="card-body white black-text rounded-bottom">
                              <h6 class="card-title text-uppercase text-center h2 ">5 LEVEL OF LEADERSHIP</h6>
                              <h6 class="text-uppercase text-center h4">By JOHN MAXWELL</h6><br>
                                          <hr class="hr-light">
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                                  <td><h3 class="red-text">Old prize</h3></td>
                                                 
                                                </tr>
       
                                                <tr>
                                                   <td><h1 class="text-center">#2,599.99</h1></td>
                                                  <td><h3 class="red-text">New prize</h3></td>
                                                </tr>
                                              </tbody>
                                            </table>
                              <div class="m-3">
                                <a href="#">
                                  <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
                                </a>
                              </div>

                            </div>
                          </div>
                  </div>
            
                  <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                    <div class="card">
                      <div class="view overlay">
                        <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-strong"></div>
                        </a>
                      </div>
                      <div class="card-body white black-text rounded-bottom">
                        <h6 class="card-title text-uppercase text-center h2 ">THE POWER OF MEN</h6>
                        <h6 class="text-uppercase text-center h4">By Olabayo Segun</h6><br>
                                    <hr class="hr-light">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                            <td><h3 class="red-text">Old prize</h3></td>
                                           
                                          </tr>
 
                                          <tr>
                                             <td><h1 class="text-center">#2,599.99</h1></td>
                                            <td><h3 class="red-text">New prize</h3></td>
                                          </tr>
                                        </tbody>
                                      </table>

                        <div class="m-3">
                          <a href="#">
                            <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
                          </a>
                        </div>

                      </div>
                    </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                  <a>
                    <div class="mask rgba-white-strong"></div>
                  </a>
                </div>
                <div class="card-body white black-text rounded-bottom">
                  <h6 class="card-title text-uppercase text-center h2 ">PURPOSE DRIVEN LIFE</h6>
                  <h6 class="text-uppercase text-center h4">RICK WARREN</h6><br>
                              <hr class="hr-light">
                              <table class="table">
                                  <tbody>
                                    <tr>
                                      <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                      <td><h3 class="red-text">Old prize</h3></td>
                                     
                                    </tr>

                                    <tr>
                                       <td><h1 class="text-center">#2,599.99</h1></td>
                                      <td><h3 class="red-text">New prize</h3></td>
                                    </tr>
                                  </tbody>
                                </table>

                  <div class="m-3">
                    <a href="#">
                      <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
                    </a>
                  </div>

                </div>
              </div>
      </div>
                    
            
      <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
        <div class="card">
          <div class="view overlay">
            <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-strong"></div>
            </a>
          </div>
          <div class="card-body white black-text rounded-bottom">
            <h6 class="card-title text-uppercase text-center h2 ">DOMINION THROUGH EXCELLENCE</h6>
            <h6 class="text-uppercase text-center h4">By APT JOSHUA SELMAN</h6>
                        <hr class="hr-light">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                <td><h3 class="red-text">Old prize</h3></td>
                               
                              </tr>

                              <tr>
                                 <td><h1 class="text-center">#2,599.99</h1></td>
                                <td><h3 class="red-text">New prize</h3></td>
                              </tr>
                            </tbody>
                          </table>

            <div class="m-3">
              <a href="#">
                <button class="btn btn-red btn-block"><span class="h1">BUY NOW</span></button>
              </a>
            </div>

          </div>
        </div>
</div>


      </div>
      
   
  </div>

  <%- include('../Navs/footer') %>

            