<footer class="page-footer font-small green darken-1 mt-5" style="font-size:16px;">
 
        <div class="footer-copyright text-center py-2 mb-0 white-text">Terms and Conditions Apply, See our <a href="/policy">Policy here</a></div>
        <div class="footer-copyright text-center py-3 white-text"> Copyright © 2018 <a href="samdos.herokuapp.com">Samdos Express</a> <br> All Right Reserved. 
            Designed and Conceived by Sheygun
          <!-- <a href="#" class="font-weight-bold">Samdos</a> -->
        </div>
  </footer>


  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
    </body>
</html>
