<div class="mt-5">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar green darken-1">
        <div >
          <h1 class="font-weight-bold white-text">BOOKWORM</h1>
        </div>

        <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
          <span class="redtext"></span></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav ml-auto smooth-scroll " style="font-size:14px; font-weight: bold">
              
                        <li class="nav-item ">
                          <a class="nav-link waves-effect waves-light active" href="/"></i>HOME
                            <span class="sr-only">(current)</span>
                          </a>
                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BOOK CATEGORIES</a>
                          <div class="dropdown-menu dropdown-primary blue white-text" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">MOTIVATIONAL</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">GOSPEL</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">EDUCATIONAL</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">STORY BOOKS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">LYRICS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">OTHERS</a>
                            
                           
                          </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#">E-BOOKS</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="#">JOURNALS</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">CONTACT US</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-search"></i> SEARCH</a>
                        </li>
                      </ul>
        </div>
    </nav>
</div>