<div class="mt-5">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar blue darken-1">
        <div >
          <h1 class="font-weight-bold white-text">INFOEXTRA.com</h1>
        </div>

        <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
          <span class="redtext"></span></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav ml-auto smooth-scroll " style="font-size:14px; font-weight: bold">
              
                        <li class="nav-item ">
                          <a class="nav-link waves-effect waves-light active" href="/"></i>HOME
                            <span class="sr-only">(current)</span>
                          </a>
                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORIES</a>
                          <div class="dropdown-menu dropdown-primary blue white-text" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">NEWS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">BUSINESS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">JOB VACANCY</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">CAREER<a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">PROPERTIES</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">EDUCATION</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">WEB DEVELOPMENT</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">COMPUTERS AND PHONES</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">TECHNOLOGY</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">SCHOLARSHIPS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">INVESTMENT</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">SPORT</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">BETTING</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">ENTERTAINMENTS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">RELATIONSHIPS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">MUSICS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">VIDEOS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">CELEBRITIES</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">EVENTS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">LITERATUTES</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">JOKES</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="#">FASHION</a>
                           
                          </div>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="/policy">POLICIES</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i> SEARCH</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="/login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="/signup">SIGN UP</a>
                        </li>
                      </ul>
        </div>
    </nav>
</div>