<div class="mt-5">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar green darken-1">
        <div >
          <h1 class="font-weight-bold white-text">BOOKWORM</h1>
        </div>

        <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
          <span class="redtext"></span></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav ml-auto smooth-scroll " style="font-size:14px; font-weight: bold">
              
                        <li class="nav-item ">
                          <a class="nav-link waves-effect waves-light active" href="/"><i class="fa fa-home"></i>HOME
                            <span class="sr-only">(current)</span>
                          </a>
                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book-open"></i>BOOK CATEGORIES</a>
                          <div class="dropdown-menu dropdown-primary blue white-text" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="/motivational">MOTIVATIONAL BOOKS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="/educational">EDUCATIONAL BOOKS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="/financial">FINANCIAL BOOKS</a>
                            <a class="dropdown-item waves-effect waves-light white-text font-weight-bold" href="others">OTHERS BOOKS</a>
                            
                           
                          </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-file-pdf"></i>E-BOOKS</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-journal-whills"></i>JOURNALS</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="/about"><i class="fa fa-address-card"></i>ABOUT US</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="/contact"><i class="fa fa-address-book"></i>CONTACT US</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i> SEARCH</a>
                        </li>
                        <li class="nav-item mt-3">
                            <button type="button" class="" data-toggle="modal" 
                            data-target="#myModal"><span id="number" class="red-text"></span><i class="fa fa-cart-arrow-down"></i> CART</button>
                            
                          <!-- <a class="nav-link waves-effect waves-light" href="/cart"><i class="fa fa-cart-arrow-down"></i><span id="number" class="red-text"></span> CART</a> -->
                        </li>
                      </ul>
                              
                              
                              
        </div>
    </nav>
</div>