<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="align-center justify-content-center d-flex blue p-4 ">
            <div class=" font-weight-bold white-text text-center title-header" style="font-size: 22px;">RELATED POST</div> 
      
        </div>
          </div>
        <div class="col-md-12">
          <table class="table">
            <tbody>
                <tr class="text-center">
                    <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
                  </tr>
    
                  <tr class="text-center">
                      <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW MODERN COMPUTER LAB IN SCIENCE COMPLEX</a></td>
                    </tr>
    
                    <tr class="text-center">
                        <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">VIEW PRESIDENT BUHARI'S PROFILE</a></td>
                      </tr>
                      <tr class="text-center">
                          <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">PROF. LANRE FAGBOHUN'S GREETINGS TO ALL FRESHER.</a></td>
                        </tr>
                        <tr class="text-center">
                            <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">MY SUCCESS STORY.</a></td>
                          </tr>
                          <tr class="text-center">
                              <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">WHY I BREAK UP WITH MY EX-GIRLFRIEND. ---DAVIDO.</a></td>
                            </tr>
                            <tr class="text-center">
                                <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW LASU PHAMACY BUILDING.</a></td>
                              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="align-center justify-content-center d-flex blue p-4 ">
          <div class=" font-weight-bold white-text text-center title-header" style="font-size: 22px;">OTHER STORIES YOU MAY LIKE</div> 
    
      </div>
        </div>
      <div class="col-md-12">
        <table class="table">
          <tbody>
              <tr class="text-center">
                  <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW MODERN COMPUTER LAB IN SCIENCE COMPLEX</a></td>
                </tr>

                <tr class="text-center">
                    <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">VIEW PRESIDENT BUHARI'S PROFILE</a></td>
                  </tr>
                  <tr class="text-center">
                      <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">PROF. LANRE FAGBOHUN'S GREETINGS TO ALL FRESHER.</a></td>
                    </tr>
                    <tr class="text-center">
                        <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">MY SUCCESS STORY.</a></td>
                      </tr>
                      <tr class="text-center">
                          <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">WHY I BREAK UP WITH MY EX-GIRLFRIEND. ---DAVIDO.</a></td>
                        </tr>
                        <tr class="text-center">
                            <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW LASU PHAMACY BUILDING.</a></td>
                          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>