<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="jumbotron">
            <div class="align-center justify-content-center d-flex white p-4 mt-5 ">
                    <div class=" font-weight-bold green-text text-center title-header" style="font-size: 30px;">ABOUT US</div> 
              
                </div>
        <p class="m-5" align="justify">Hello, We are INFOEXTRA.COM, a multivating and life changing website. You are welcomed to this wonderful website. INFOEXTRA.COM has been in exitence since 2015, giving the best of it type to users for total transformation.
             Bringing you all the wonderful softwares combined together on this website and some astonishing news. So much value packed in this website. 
            </p>
            <p class="m-5" align="justify">Hello, We are INFOEXTRA.COM, a multivating and life changing website. You are welcomed to this wonderful website. INFOEXTRA.COM has been in exitence since 2015, giving the best of it type to users for total transformation.
                    Bringing you all the wonderful softwares combined together on this website and some astonishing news. So much value packed in this website. 
             </p>
             <p class="m-5" align="justify">Hello, We are INFOEXTRA.COM, a multivating and life changing website. You are welcomed to this wonderful website. INFOEXTRA.COM has been in exitence since 2015, giving the best of it type to users for total transformation.
                    Bringing you all the wonderful softwares combined together on this website and some astonishing news. So much value packed in this website. 
             </p>
    </div>

<%- include('../Navs/footer') %>
