<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
            <div class="align-center justify-content-center d-flex white p-4 mt-5 ">
                    <div class=" font-weight-bold green-text text-center title-header" style="font-size: 30px;">CART SECTION</div> 
           </div>
           <table class="table">
               <tbody>
                   <tr>
                       <td id="paste-name">
                          
                       </td>
                   </tr>
               </tbody>
           </table>
    </div>
    

<%- include('../Navs/footer') %>
