<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container" style="margin-top: 70px;">
            <%- include('../Navs/feedback') %>
    </div>

<%- include('../Navs/footer') %>
