<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <header>
      <div class="view view-home intro-2">
          <div class="full-bg-img">
              <div class="mask rgba-black-strong flex-center">
                  <div class="container text-center white-text">
                      <div class="white-text text-center wow fadeInUp">
                          <h2 class="display-3 font-weight-bold mt-5 samdos-name">BOOKWORM</h2>
                          <h5 class="help p-3 rgba-black-light h3">BUY AND READ BOOKS ANYWHERE IN THE WORLD</h5>
                          <br>
                          <p class="market-text h5">READERS OF BOOKS BECOMES THE LEADERS OF THE WORLD</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">

      <div class="row">
          <div class="col-lg-12 mb-2 col-md-10 col-sm-12 mt-5 ">
             <p class="font-weight-bold blue-text text-center text-uppercase" style="font-size: 35px;">BEST SELLING BOOKS</p>
           </div>

           <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase text-center h2 " id="level-of-leadership" >5 LEVEL OF LEADERSHIP</h6>
                         <h6 class="text-uppercase text-center h4">By JOHN MAXWELL</h6><br>
                                     <hr class="hr-light">

                                     <table class="table">
                                       <tbody>
                                         <tr>
                                           <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                           <td><h3 class="red-text">Old prize</h3></td>
                                          
                                         </tr>
                                        </tbody>
                                        <tbody>
                                         <tr>
                                            <td><h1 class="text-center">#2,599.99</h1></td>
                                           <td><h3 class="red-text">New prize</h3></td>
                                         </tr>
                                        </tbody>
                                     </table>

                                     <table class="table">
                                      <tbody>
                                        <tr>
                                          <td> <h3 class="text-center red-text" id="notification"></h3></td>
                                        </tr>
                                      </tbody>
                                     </table>
                          

                         <div class="m-3">
                           <!-- <a href=""> -->
                             <button class="btn btn-red btn-block" id="pay-button" ><span class="h1" id="buy-now">BUY NOW</span></button>
                           <!-- </a> -->
                         </div>

                       </div>
                     </div>
             </div>
       
             <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
               <div class="card">
                 <div class="view overlay">
                   <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                   <a>
                     <div class="mask rgba-white-strong"></div>
                   </a>
                 </div>
                 <div class="card-body white black-text rounded-bottom">
                   <h6 class="card-title text-uppercase text-center h2 "id="power">THE POWER OF MEN</h6>
                   <h6 class="text-uppercase text-center h4">By Olabayo Segun</h6><br>
                               <hr class="hr-light">
                               <table class="table">
                                  <tbody>
                                    <tr>
                                      <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                      <td><h3 class="red-text">Old prize</h3></td>
                                     
                                    </tr>

                                    <tr>
                                       <td><h1 class="text-center">#2,599.99</h1></td>
                                      <td><h3 class="red-text">New prize</h3></td>
                                    </tr>
                                  </tbody>
                                </table>

                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td> <h3 class="text-center red-text" id="notification2"></h3></td>
                                    </tr>
                                  </tbody>
                                 </table>
                   <div class="m-3">
                     <!-- <a href="#"> -->
                       <button class="btn btn-red btn-block" id="pay-button2"><span class="h1" id="buy-now2">BUY NOW</span></button>
                     <!-- </a> -->
                   </div>

                 </div>
               </div>
       </div>
       
       <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
         <div class="card">
           <div class="view overlay">
             <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
             <a>
               <div class="mask rgba-white-strong"></div>
             </a>
           </div>
           <div class="card-body white black-text rounded-bottom">
             <h6 class="card-title text-uppercase text-center h2 " id="purpose">PURPOSE DRIVEN LIFE</h6>
             <h6 class="text-uppercase text-center h4">RICK WARREN</h6><br>
                         <hr class="hr-light">
                         <table class="table">
                            <tbody>
                              <tr>
                                <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                <td><h3 class="red-text">Old prize</h3></td>
                               
                              </tr>

                              <tr>
                                 <td><h1 class="text-center">#2,599.99</h1></td>
                                <td><h3 class="red-text">New prize</h3></td>
                              </tr>
                            </tbody>
                          </table>

                          <table class="table">
                            <tbody>
                              <tr>
                                <td> <h3 class="text-center red-text" id="notification3"></h3></td>
                              </tr>
                            </tbody>
                           </table>

             <div class="m-3">
               <!-- <a href="#"> -->
                 <button class="btn btn-red btn-block" id="pay-button3"><span class="h1" id="buy-now3">BUY NOW</span></button>
               <!-- </a> -->
             </div>

           </div>
         </div>
 </div>
               
       
 <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
   <div class="card">
     <div class="view overlay">
       <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
       <a>
         <div class="mask rgba-white-strong"></div>
       </a>
     </div>
     <div class="card-body white black-text rounded-bottom">
       <h6 class="card-title text-uppercase text-center h2" id="dominion">DOMINION THROUGH EXCELLENCE</h6>
       <h6 class="text-uppercase text-center h4">By APT JOSHUA SELMAN</h6>
                   <hr class="hr-light">
        <table class="table">
                                       <tbody>
                                         <tr>
                                           <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                           <td><h3 class="red-text">Old prize</h3></td>
                                          
                                         </tr>

                                         <tr>
                                            <td><h1 class="text-center">#2,599.99</h1></td>
                                           <td><h3 class="red-text">New prize</h3></td>
                                         </tr>
                                       </tbody>
                                     </table>

                                     <table class="table">
                                      <tbody>
                                        <tr>
                                          <td> <h3 class="text-center red-text" id="notification4"></h3></td>
                                        </tr>
                                      </tbody>
                                     </table>

       <div class="m-3">
         <!-- <a href="#"> -->
          <button class="btn btn-red btn-block" id="pay-button4"><span class="h1" id="buy-now4">BUY NOW</span></button>
         <!-- </a> -->
       </div>

     </div>
   </div>
</div>


      </div>




      <div class="row">
        <div class="col-lg-12 mb-2 col-md-10 col-sm-12 mt-5 ">
           <p class="font-weight-bold blue-text text-center text-uppercase" style="font-size: 35px;">BEST SELLING BOOKS</p>
         </div>

         <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                   <div class="card">
                     <div class="view overlay">
                       <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                       <a>
                         <div class="mask rgba-white-strong"></div>
                       </a>
                     </div>
                     <div class="card-body white black-text rounded-bottom">
                       <h6 class="card-title text-uppercase text-center h2 " id="level2" >5 LEVEL OF LEADERSHIP</h6>
                       <h6 class="text-uppercase text-center h4">By JOHN MAXWELL</h6><br>
                                   <hr class="hr-light">

                                   <table class="table">
                                     <tbody>
                                       <tr>
                                         <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                         <td><h3 class="red-text">Old prize</h3></td>
                                        
                                       </tr>
                                      </tbody>
                                      <tbody>
                                       <tr>
                                          <td><h1 class="text-center">#2,599.99</h1></td>
                                         <td><h3 class="red-text">New prize</h3></td>
                                       </tr>
                                      </tbody>
                                   </table>

                                   <table class="table">
                                    <tbody>
                                      <tr>
                                        <td> <h3 class="text-center red-text" id="notification5"></h3></td>
                                      </tr>
                                    </tbody>
                                   </table>
                        

                       <div class="m-3">
                         <!-- <a href=""> -->
                           <button class="btn btn-red btn-block" id="pay-button5" ><span class="h1" id="buy-now5">BUY NOW</span></button>
                         <!-- </a> -->
                       </div>

                     </div>
                   </div>
           </div>
     
           <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
             <div class="card">
               <div class="view overlay">
                 <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                 <a>
                   <div class="mask rgba-white-strong"></div>
                 </a>
               </div>
               <div class="card-body white black-text rounded-bottom">
                 <h6 class="card-title text-uppercase text-center h2 "id="power2">THE POWER OF MEN</h6>
                 <h6 class="text-uppercase text-center h4">By Olabayo Segun</h6><br>
                             <hr class="hr-light">
                             <table class="table">
                                <tbody>
                                  <tr>
                                    <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                    <td><h3 class="red-text">Old prize</h3></td>
                                   
                                  </tr>

                                  <tr>
                                     <td><h1 class="text-center">#2,599.99</h1></td>
                                    <td><h3 class="red-text">New prize</h3></td>
                                  </tr>
                                </tbody>
                              </table>

                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td> <h3 class="text-center red-text" id="notification6"></h3></td>
                                  </tr>
                                </tbody>
                               </table>
                 <div class="m-3">
                   <!-- <a href="#"> -->
                     <button class="btn btn-red btn-block" id="pay-button6"><span class="h1" id="buy-now6">BUY NOW</span></button>
                   <!-- </a> -->
                 </div>

               </div>
             </div>
     </div>
     
     <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
       <div class="card">
         <div class="view overlay">
           <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
           <a>
             <div class="mask rgba-white-strong"></div>
           </a>
         </div>
         <div class="card-body white black-text rounded-bottom">
           <h6 class="card-title text-uppercase text-center h2 " id="purpose2">PURPOSE DRIVEN LIFE</h6>
           <h6 class="text-uppercase text-center h4">RICK WARREN</h6><br>
                       <hr class="hr-light">
                       <table class="table">
                          <tbody>
                            <tr>
                              <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                              <td><h3 class="red-text">Old prize</h3></td>
                             
                            </tr>

                            <tr>
                               <td><h1 class="text-center">#2,599.99</h1></td>
                              <td><h3 class="red-text">New prize</h3></td>
                            </tr>
                          </tbody>
                        </table>

                        <table class="table">
                          <tbody>
                            <tr>
                              <td> <h3 class="text-center red-text" id="notification7"></h3></td>
                            </tr>
                          </tbody>
                         </table>

           <div class="m-3">
             <!-- <a href="#"> -->
               <button class="btn btn-red btn-block" id="pay-button7"><span class="h1" id="buy-now7">BUY NOW</span></button>
             <!-- </a> -->
           </div>

         </div>
       </div>
</div>
             
     
<div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
 <div class="card">
   <div class="view overlay">
     <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
     <a>
       <div class="mask rgba-white-strong"></div>
     </a>
   </div>
   <div class="card-body white black-text rounded-bottom">
     <h6 class="card-title text-uppercase text-center h2" id="dominion2">DOMINION THROUGH EXCELLENCE</h6>
     <h6 class="text-uppercase text-center h4">By APT JOSHUA SELMAN</h6>
                 <hr class="hr-light">
      <table class="table">
                                     <tbody>
                                       <tr>
                                         <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                         <td><h3 class="red-text">Old prize</h3></td>
                                        
                                       </tr>

                                       <tr>
                                          <td><h1 class="text-center">#2,599.99</h1></td>
                                         <td><h3 class="red-text">New prize</h3></td>
                                       </tr>
                                     </tbody>
                                   </table>

                                   <table class="table">
                                    <tbody>
                                      <tr>
                                        <td> <h3 class="text-center red-text" id="notification8"></h3></td>
                                      </tr>
                                    </tbody>
                                   </table>

     <div class="m-3">
       <!-- <a href="#"> -->
        <button class="btn btn-red btn-block" id="pay-button8"><span class="h1" id="buy-now8">BUY NOW</span></button>
       <!-- </a> -->
     </div>

   </div>
 </div>
</div>


    </div>






    <div class="row">
      <div class="col-lg-12 mb-2 col-md-10 col-sm-12 mt-5 ">
         <p class="font-weight-bold blue-text text-center text-uppercase" style="font-size: 35px;">BEST SELLING BOOKS</p>
       </div>

       <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                 <div class="card">
                   <div class="view overlay">
                     <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                     <a>
                       <div class="mask rgba-white-strong"></div>
                     </a>
                   </div>
                   <div class="card-body white black-text rounded-bottom">
                     <h6 class="card-title text-uppercase text-center h2 " id="level3" >5 LEVEL OF LEADERSHIP</h6>
                     <h6 class="text-uppercase text-center h4">By JOHN MAXWELL</h6><br>
                                 <hr class="hr-light">

                                 <table class="table">
                                   <tbody>
                                     <tr>
                                       <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                       <td><h3 class="red-text">Old prize</h3></td>
                                      
                                     </tr>
                                    </tbody>
                                    <tbody>
                                     <tr>
                                        <td><h1 class="text-center">#2,599.99</h1></td>
                                       <td><h3 class="red-text">New prize</h3></td>
                                     </tr>
                                    </tbody>
                                 </table>

                                 <table class="table">
                                  <tbody>
                                    <tr>
                                      <td> <h3 class="text-center red-text" id="notification9"></h3></td>
                                    </tr>
                                  </tbody>
                                 </table>
                      

                     <div class="m-3">
                       <!-- <a href=""> -->
                         <button class="btn btn-red btn-block" id="pay-button9" ><span class="h1" id="buy-now9">BUY NOW</span></button>
                       <!-- </a> -->
                     </div>

                   </div>
                 </div>
         </div>
   
         <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
           <div class="card">
             <div class="view overlay">
               <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
               <a>
                 <div class="mask rgba-white-strong"></div>
               </a>
             </div>
             <div class="card-body white black-text rounded-bottom">
               <h6 class="card-title text-uppercase text-center h2 "id="power3">THE POWER OF MEN</h6>
               <h6 class="text-uppercase text-center h4">By Olabayo Segun</h6><br>
                           <hr class="hr-light">
                           <table class="table">
                              <tbody>
                                <tr>
                                  <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                  <td><h3 class="red-text">Old prize</h3></td>
                                 
                                </tr>

                                <tr>
                                   <td><h1 class="text-center">#2,599.99</h1></td>
                                  <td><h3 class="red-text">New prize</h3></td>
                                </tr>
                              </tbody>
                            </table>

                            <table class="table">
                              <tbody>
                                <tr>
                                  <td> <h3 class="text-center red-text" id="notification10"></h3></td>
                                </tr>
                              </tbody>
                             </table>
               <div class="m-3">
                 <!-- <a href="#"> -->
                   <button class="btn btn-red btn-block" id="pay-button10"><span class="h1" id="buy-now10">BUY NOW</span></button>
                 <!-- </a> -->
               </div>

             </div>
           </div>
   </div>
   
   <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
     <div class="card">
       <div class="view overlay">
         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
         <a>
           <div class="mask rgba-white-strong"></div>
         </a>
       </div>
       <div class="card-body white black-text rounded-bottom">
         <h6 class="card-title text-uppercase text-center h2 " id="purpose3">PURPOSE DRIVEN LIFE</h6>
         <h6 class="text-uppercase text-center h4">RICK WARREN</h6><br>
                     <hr class="hr-light">
                     <table class="table">
                        <tbody>
                          <tr>
                            <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                            <td><h3 class="red-text">Old prize</h3></td>
                           
                          </tr>

                          <tr>
                             <td><h1 class="text-center">#2,599.99</h1></td>
                            <td><h3 class="red-text">New prize</h3></td>
                          </tr>
                        </tbody>
                      </table>

                      <table class="table">
                        <tbody>
                          <tr>
                            <td> <h3 class="text-center red-text" id="notification11"></h3></td>
                          </tr>
                        </tbody>
                       </table>

         <div class="m-3">
           <!-- <a href="#"> -->
             <button class="btn btn-red btn-block" id="pay-button11"><span class="h1" id="buy-now11">BUY NOW</span></button>
           <!-- </a> -->
         </div>

       </div>
     </div>
</div>
           
   
<div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
<div class="card">
 <div class="view overlay">
   <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
   <a>
     <div class="mask rgba-white-strong"></div>
   </a>
 </div>
 <div class="card-body white black-text rounded-bottom">
   <h6 class="card-title text-uppercase text-center h2" id="dominion3">DOMINION THROUGH EXCELLENCE</h6>
   <h6 class="text-uppercase text-center h4">By APT JOSHUA SELMAN</h6>
               <hr class="hr-light">
    <table class="table">
                                   <tbody>
                                     <tr>
                                       <td><h1 class="text-center"><strike>#2,999.99</strike></h1></td>
                                       <td><h3 class="red-text">Old prize</h3></td>
                                      
                                     </tr>

                                     <tr>
                                        <td><h1 class="text-center">#2,599.99</h1></td>
                                       <td><h3 class="red-text">New prize</h3></td>
                                     </tr>
                                   </tbody>
                                 </table>

                                 <table class="table">
                                  <tbody>
                                    <tr>
                                      <td> <h3 class="text-center red-text" id="notification12"></h3></td>
                                    </tr>
                                  </tbody>
                                 </table>

   <div class="m-3">
     <!-- <a href="#"> -->
      <button class="btn btn-red btn-block" id="pay-button12"><span class="h1" id="buy-now12">BUY NOW</span></button>
     <!-- </a> -->
   </div>

 </div>
</div>
</div>


  </div>


  

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   This Modal title
                </h4>
             </div>
             <div class="modal-body">
                Add some text here
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                   data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">
                   Submit changes
                </button>
             </div>
          </div>
    </div>
    </div>


   <div>
     <div class="container align-item-center justify-content-center mx-auto d-flex">
      <ul class="pagination pagination-lg">
        <li><a href="#" class="red-text">&laquo;</a></li>
        <li><a href="#" class="red-text">1</a></li>
        <li><a href="#" class="red-text">&raquo;</a></li>
      </ul>
     </div>
   </div>
  </div>

  <%- include('../Navs/footer') %>

            