<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
      <div class="row" style="margin-top:50px;">
        <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center mt-3">
          <h1 class="font-weight-bold blue-text">What's New</h1>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row news-section">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr class="text-center">
                <td><a href="/page1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
              </tr>
              <tr class="text-center">
                <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
              </tr>
              <tr class="text-center">
                <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

   <div>
     <div class="container align-item-center justify-content-center mx-auto d-flex">
      <ul class="pagination pagination-lg">
        <li><a href="#" class="red-text">&laquo;</a></li>
        <li><a href="#" class="red-text">1</a></li>
        <li><a href="#" class="red-text">2</a></li>
        <li><a href="#" class="red-text">3</a></li>
        <li><a href="#" class="red-text">4</a></li>
        <li><a href="#" class="red-text">5</a></li>
        <li><a href="#" class="red-text">&raquo;</a></li>
      </ul>
     </div>
   </div>



    <%- include('../Navs/advert') %>
  <%- include('../Navs/footer') %>

            