<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
      <div class="row" style="margin-top:50px;">
        <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center mt-3">
          <h1 class="font-weight-bold blue-text">What's New</h1>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row news-section">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr class="text-center">
                <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW MODERN COMPUTER LAB IN SCIENCE COMPLEX</a></td>
                </tr>

                <tr class="text-center">
                    <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">VIEW PRESIDENT BUHARI'S PROFILE</a></td>
                  </tr>
                  <tr class="text-center">
                      <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">PROF. LANRE FAGBOHUN'S GREETINGS TO ALL FRESHER.</a></td>
                    </tr>
                    <tr class="text-center">
                        <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">MY SUCCESS STORY.</a></td>
                      </tr>
                      <tr class="text-center">
                          <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">WHY I BREAK UP WITH MY EX-GIRLFRIEND. ---DAVIDO.</a></td>
                        </tr>
                        <tr class="text-center">
                            <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW LASU PHAMACY BUILDING.</a></td>
                          </tr>
                          <tr class="text-center">
                              <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
                            </tr>
              
                            <tr class="text-center">
                                <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW MODERN COMPUTER LAB IN SCIENCE COMPLEX</a></td>
                              </tr>
              
                              <tr class="text-center">
                                  <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">VIEW PRESIDENT BUHARI'S PROFILE</a></td>
                                </tr>
                                <tr class="text-center">
                                    <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">PROF. LANRE FAGBOHUN'S GREETINGS TO ALL FRESHER.</a></td>
                                  </tr>
                                  <tr class="text-center">
                                      <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">MY SUCCESS STORY.</a></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">WHY I BREAK UP WITH MY EX-GIRLFRIEND. ---DAVIDO.</a></td>
                                      </tr>
                                      <tr class="text-center">
                                          <td><a href="/page1" class="red-text font-weight-bold text-uppercase" style="font-size:15px;">SEE THE NEW LASU PHAMACY BUILDING.</a></td>
                                        </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

   <div>
     <div class="container align-item-center justify-content-center mx-auto d-flex">
      <ul class="pagination pagination-lg">
        <li><a href="#" class="red-text">&laquo;</a></li>
        <li><a href="#" class="red-text">1</a></li>
        <li><a href="#" class="red-text">&raquo;</a></li>
      </ul>
     </div>
   </div>


    <%- include('../Navs/advert') %>
  <%- include('../Navs/footer') %>

            