<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
      <div class="row" style="margin-top:50px;">
        <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center mt-3">
          <h1 class="font-weight-bold blue-text">5 Reasons Small Businesses Fail—And How To Avoid Those Fatal Pitfalls</h1>
        </div>
      </div>
    </div>
   


  <%- include('../Navs/footer') %>

            